* {
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #FFFCE9;
    width: 600px;
    height: 500px;
}

/* Header */
#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

#header h1 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}


/* New Pixel Button */
#header button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: #FFE503;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    padding: 6px;
    gap: 6px;
    overflow: hidden;
    transition: width 0.35s ease;
}

#header button svg {
    flex-shrink: 0;
}

#header button:hover {
    width: 165px;
}

#header button p {
    font-size: 14px;
    white-space: nowrap;
}